.assignments-container {
  text-align: center;
  padding: 50px;
  height: 100vh;
  overflow-y: auto;
}
.assignments-container::-webkit-scrollbar{
  display: none;
}


h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 20px 0;
  border: 1px solid #ddd;
  padding: 15px;
}

h3 {
  font-size: 1.2em;
}

p {
  margin: 10px 0;
}

.assignment-card {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

