.logo {
  width: 80px;
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
}
.navbar {
  padding: 10px 0;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
nav-link {
  color: #299193;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  margin: 0 10px;
}
