/* Navbar.css */

.navbar-brand-container {
  display: flex;
  align-items: center;
}

.navbar-brand {
  margin-right: 10px;
}

.logo {
  width: 80px;
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
}

.navbar-nav .logout-button {
  background-color: rgba(27, 123, 129, 0.678) !important;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.navbar-nav .logout-button:hover {
  background-color: #196869 !important;
}