/* styles.css */

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  background-color: #cacddd;
}
/* styles.css or your custom stylesheet */

.dashboard-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Add any additional global styles here */
