html {
  position: relative;
  min-height: 100%;
  color: #299193;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  color: white;
  padding-top: 10px;
}

body {
  margin-bottom: 60px;
  /*margin-top: 50px;*/
  background-size: 20% 20%;
  z-index: auto;
  /* background-image: url("./images/back.jpg"); */
  background-position: right_down;
  background-color: #191a1c;
  color: #299193;
  background-repeat: no-repeat;
  right: auto;
  left: auto;
  vertical-align: middle;
}

h1 {
  padding-top: 50px;
  letter-spacing: 0.3em;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 0.7em;
  font-family: Dosis, arial, sans-serif;
  color: inherit;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 80px;
}

h2 {
  padding-top: 70px;
  letter-spacing: 0.3em;
  font-size: 25px;
  font-weight: 500;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 0.7em;
  font-family: Dosis, arial, sans-serif;
  color: inherit;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 50px;
}

h3 {
  padding-top: 50px;
  letter-spacing: 0.15em;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  font-family: Dosis, arial, sans-serif;
  color: inherit;
  text-align: center;
  margin-bottom: 50px;
}

input {
  border-radius: 5px;
  height: auto;
  width: 200px;
  padding: 10px 15px;
  font-size: 15px;
  box-sizing: border-box;
  color: #fff;
  background: #299193;
  border: 2px solid transparent;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  box-shadow: none;
  transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  margin: 0px auto;
  display: block;
}

input:hover {
  box-shadow: 2px 2px 2px #999999;
  border: thin solid #23becd;
  background-color: white;
  color: #299193;
}

input[type="radio"] {
  width: auto;
  margin-bottom: 25px;
}

#floated {
  float: left;
  margin-right: 25px;
  margin-bottom: 25px;
  width: 150px;
}
