.courses-container {
  text-align: center;
  padding: 50px;
  height: 100vh;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  font-size: 1.2em;
}

a:hover {
  text-decoration: underline;
}

.course-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.course-card {
  width: 30%;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
  .course-list {
    flex-direction: column;
  }
}
